<h1>Welcome to the Triangle indentifier!</h1>
<form action="/triangles">
  <div class="form-group">
    <label for="side1">Enter one length of the triangle</label>
    <input id="side1" name="side1" class="form-control" type="text">

    <label for="side2">Enter the second length of the triangle</label>
    <input id="side2" name="side2" class="form-control" type="text">

    <label for="side3">Enter the third length of the triangle</label>
    <input id="side3" name="side3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Identify my triangle!</button>
</form>
